{{#each vacationData}}
    <ul id="vacationList">
        <li class="vacationRow">
            <div class="vacationCovers col s4" id= {{id}}>
                <h2 class="tooltipped" data-position="left" data-delay="50" data-tooltip="Click to view">{{location}}</h2>
                <h5>{{start_date}} to {{end_date}}</h5>
                <a href= {{map_link}} target="_blank"><img class="gps" src="/images/map-icon.png" alt=""></a>
                <p>{{entry}}</p>
                <img class="vacationImage tooltipped" data-position="right" data-delay="50" data-tooltip="Click to edit" class="vacationImage tooltipped" data-position="right" data-delay="50" data-tooltip="Click to edit" src= {{image}}>
            </div>
            <div class="authorItem col s8">
            </div>
        </li>
        <div class="card-action">
            <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{id}}">
                <input class="btn amber darken-4 small" type="submit" name="name" value="Remove">
            </form>
        </div>
    </ul>

    <div class="row">
        <div class="col s12">
            <h3>Edit Vacation Entry</h3>
            <form action="/" method="post">
                <label for="location">Vacation Location</label>
                <input type="text" id="location" name="location" value= {{location}}>
                <label for="entry">Start Date</label>
                <input type="date" id="start_date" name="start_date" value= {{start_date}}>
                <label for="end_date">End Date</label>
                <input type="date" id="end_date" name="end_date" value= {{end_date}}>
                <label for="entry">Vacation Journal Entry</label>
                <textarea type="textarea" id="entry" name="entry"> {{entry}}
                </textarea>
                <label for="image">Image Url</label>
                <input type="url" id="image" name="image" value= {{image}}>
                <label for="map_link">Map Url</label>
                <input type="url" id="map_link" name="map_link" value= {{map_link}}>
                <input type="submit" class="btn orange darken-3" value="Update Log">
            </form>
            <br>
        </div>
    </div>
{{/each}}
